@{
    ViewBag.Title = "Информация";
}

<h2>@ViewBag.Title.</h2>
<h3>Описание приложения</h3>

<p>Данное вэб-приложение предназначено для учета успеваемости студентов, в приложении реализованы следующие функции:</p>
<p>1) Вывод ведомости успеваемости студентов</p>
<p>2) Вывод ведомости успеваемости студентов с расчетом суммарного балла</p>
<p>3) Вывод ведомости успеваемости пяти лучших студентов</p>
<p>4) Вывод ведомости успеваемости пяти худших студентов</p>
<p>5) Возможность внесения данных о новых студентах</p>